html {
    height: 100%;
    overflow: auto;
    font-family: 'Oxygen', sans-serif;
    scroll-behavior: smooth;
}

body { 
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    /* background-color: #fff7fd; */
    /* background-image: url("heart.jpg"); */
}

p {
    margin: 25px 0 0 0; 
}

a {
    cursor: pointer;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
}

.card-title {
    display: inline-block;
    font-size: 2.5em;
    color: #747fe0; 
    font-family: 'Bangers', cursive;
}

.card-title:after {
    content: "";
    display: block;
    border: 4px solid #747fe0;
    margin: 0 auto;
}

/* Navbar CSS Chunk */ 

.navbar {
    /* Need to use position relative in order to use box-shadow */
    position:relative;
    height: 10vh;
    border-radius: 0 0 20px 20px;
    background-color: #ece3ff; 
    box-shadow: 0px 12px rgba(46, 45, 83, 0.15);
}

.navbar-content {
    float: right; 
    margin-top: 2em; 
    padding-right: 3em;
}

.navbar-content a {
    padding-left: 2em; 
    font-size: 1.25em;
    text-decoration: none;
    color: #000000; 
}

.navbar-content a:hover {
    padding-left: 2em; 
    font-size: 1.25em;
    text-decoration: underline;
    color: #a917bd; 
}

/* Intro CSS Chunk */ 

.intro {
    padding-top: 50px;
    padding-left: 2em; 
    padding-bottom: 5em;
    margin-top: 2em;
}

.intro-content {
    width: 65%; 
    font-size: 18px;
}

.name {
    font-size: 4.5em;
    color: #747fe0; 
    font-family: 'Bangers', cursive;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

/* About Myself CSS Chunk */ 

.about-myself {
    text-align: left;
    position:relative;
    border-radius: 20px;
    padding: 10px 0 3em 2em;
    background-color: #ece3ff;
    box-shadow: 0px 12px rgba(46, 45, 83, 0.15);
}

.about-content-wrapper {
    width: 75%; 
    text-align: left;
    font-size: 18px;
}

.about-content-wrapper ul li {
    margin-top: 3em;
}

.about-content-wrapper ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 0em;

}

.about-content-wrapper ul li:before {
	content: "";
	position: absolute;
	left: 0;
}

/* Projects CSS Chunk */ 

.projects {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 60px;
    border-radius: 20px;
    background-color: #ece3ff;
    flex: auto;
    box-shadow: 0px 12px rgba(46, 45, 83, 0.15);
    text-align: center;

}

.projects .card-title {
    margin-bottom: 1em;
}

.project-card {
    text-align: left;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    justify-content: flex-end;
    box-shadow: 0 50px 100px rgba(50,50,93,.05),
    0 15px 35px rgba(50,50,93,.1),
    0 5px 15px rgba(0,0,0,.1);
}

.project-title {
    margin: 0;
    color: rgba(19, 21, 44, 0.75);
    font-size: 30px;
}

.project-text { 
    width: 80%; 
    font-size: 18px;
    line-height: 27px;
    color: #525f7f;
}

.project-background {
    position: absolute;
    width: 75%; 
    height: 100%;
    background: url("../projects/projectOverlay.png"); 
    background-size: cover;
}

.project-image {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.project-content-container {
    width: 48%;
    padding: 60px 30px 50px 20px; 
    z-index: 2;
}

.tag-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.project-source-code {
    display: inline-block;
    background-color: white;
    color: rgb(116, 127, 224, 1);
     padding: 10px 15px 0px 15px; 
    border-radius: 10px;
    font-weight: bold;
    text-decoration: unset;
    border: 0; 
    line-height: 2;
    height: 50px;
    font-size: 18px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05),
    0 15px 35px rgba(50,50,93,.1),
    0 5px 15px rgba(0,0,0,.1);
}

.project-source-code:hover {
    background-color: rgba(185, 170, 250, 0.637);
    transform: translateY(-2px);
    cursor: pointer;
}

.project-tag {
    display: inline-block;
    text-align: center;
    width: 50px;
    padding: 8px; 
    margin-right: 10px;
    border-radius: 10px;
    background-color: #f9f8ff;
    outline: solid rgba(116, 127, 224, 0.5);
}

/* Artworks CSS Chunk */
.artworks {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em 0 3em 0px;
    border-radius: 20px;
    background-color: #ece3ff;
    box-shadow: 0px 12px rgba(46, 45, 83, 0.15);
}

.artwork-container {
    width: 100%; 
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.artwork-header {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.center {
    width: 60%;
    /* justify-content: center; */
}

.artwork-header .card-title:after {
    display: block;
    /* justify-content: center; */
}

.left, .right {
    display: flex;
    width: 40%;
}

.artwork-reset {
    display: block;
    margin: 1em auto;
    background-color: white;
    color: rgb(116, 127, 224, 1);
    padding: 10px 15px 10px 15px; 
    border-radius: 10px;
    font-weight: bold;
    text-decoration: unset;
    border: 0; 
    line-height: 1px;
    height: 60px;
    font-size: 18px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05),
    0 15px 35px rgba(50,50,93,.1),
    0 5px 15px rgba(0,0,0,.1);
}

.artwork-reset:hover {
    background-color: rgba(185, 170, 250, 0.637);
    transform: translateY(-2px);
    cursor: pointer;
} 

.artwork-content { 
    text-align: center;
}

.artwork-item {
    padding-top: 25px;
}

.contact {
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
}

.contact a {
    padding-right: 2em; 
}

.contact-content {
    padding-top: 4em;
}

.copyright {
    margin-top: 4em;
}

@media all and (min-width: 768px) and (max-width: 1000px) {
    .reset {
        display: none;
    }

    .about-myself {
        text-align: center;
    }   

    .about-content-wrapper ul {
        padding-left: 0em;
    }

    .navbar-content {
        float: none;
        margin-top: 0em; 
        padding-top: 2.5em;
        padding-right: 0em;
        display: flex;
        text-align: center;
    }

    .intro {
        text-align: center;
        padding-left: 0em;
        padding-top: 1em;
        padding-bottom: 4em;
    }

    .intro-content {
        width: 80%;
        padding-top: 1em; 
        margin: 0 auto;
    }

    .about-myself {
        padding: 0em;
        padding-bottom: 2em;
    }

    .about-content-wrapper {
        margin: 0 auto; 
    }

    .navbar-content a {
        display: inline-block;
        padding-left: 0em;
        text-decoration: underline;
        flex-grow: 1;        
    }

    .navbar-content nav {
        display: inline-block;
    }

    .artwork-content {
        width: 70%;
        margin: 0 auto; 
        padding-top: 2em;
        padding-bottom: 1em;;
    }

    .projects {
        padding: 0em 1em 1em 1em; 
    }

    .project-card { 
        background-color: #f3f0ff;
    }

    .project-content-container {
        width: 100%;
        padding: 2em 0 3em 4em;
        text-align: left;
    }
    
    .project-text {
        width: 80%;
    }

    .project-image { 
        display: none;
    }

    .project-background { 
        display: none;
    }
}

@media all and (min-width: 250px) and (max-width: 767px)  {
    .content-container {
        max-width: 100%;
        margin: 0 auto;
    }

    .navbar-content {
        width: 100%;
    }

    .reset {
        display: none;
    }

    .contact-content {
        padding-top: 1em;
        display: flex;
        flex-flow: column;
    }

    .contact-content a {
        margin-top: 1em;
        padding-right: 0;
    }

    .navbar-content {
        text-align: center;
        float: none;
        margin-top: 0em; 
        padding-top: 1.5em;
        padding-right: 0em;
    }

    .navbar-content a {
        padding-left: 1em;
        text-decoration: underline;
    }

    .intro {
        text-align: center;
        padding-left: 0em;
        padding-top: 1em;
        padding-bottom: 3em;
    }

    .intro-content {
        width: 80%;
        padding-top: 1em; 
        margin: 0 auto;
    }

    .about-myself {
        padding: 0em;
        padding-bottom: 2em;
        text-align: center;
    }

    .artwork-content {
        margin: 2em 0 1em 0;
    }

    .about-content-wrapper {
        margin: 0 auto; 
    }

    .about-content-wrapper ul {
        padding-left: 0em;
    }

    .contact {
        padding: 20px 50px;
        margin-bottom: 1em;
    }

    .projects {
        padding: 0em 1em 1em 1em; 
    }

    .project-card { 
        background-color: #f3f0ff;
    }

    .project-content-container {
        text-align: center;
        width: 100%;
        padding: 1em 0 2em 0;
    }
    
    .project-text {
        width: 100%;
    }

    .project-image { 
        display: none;
    }

    .project-background { 
        display: none;
    }
}
